*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

html,
body {
    /* margin: 0; */
    /* padding: 0; */
    /* width: 100%; */
    /* height: 100vh; */
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background: #000; */
}

header, footer{
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    padding: 10px 0;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}




header .logo {
    max-width: 100px;
    margin-bottom: 10px;
}  



header h1 {
    margin: 0;
    font-size: 45px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    gap: 15px;
   

    justify-content: center;
}

nav ul li {
    display: inline;
    padding: 15px;
}

nav ul li a {
    color: white;
    /* color: #0056b3; */
    /* color: #007bff; */
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffdd57;
}
.outer-box{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
}
.glow-on-hover {
    width: 180px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 15px;
    color: white ;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #0DDFB1, #0DE4ED, #18BDF8, #2683EA, #00ffd5, #002bff, #7a00ff,#103238);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: balck;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}